/*--------------------------------------------
  REDEHUB WEBSITE GENERAL STYLE SHEET
  USE THIS COMMENT FORMAT TO COMMENT 
  VARIOUS SECION OF YOUR STYLING
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*--------------------------------------------
 GENERAL
----------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.2rem;
    color: #282626;
    background: #fff;
    transition: all .5s;
}

#wrapper {
    padding: 0;
}

h1{
    font-size: 36px;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-weight: 700;
    
}
h3{
    font-size: 28px;
    font-weight: normal;
}
h4{
    font-size: 24px;
    font-weight: normal;
}
h5{
    font-size: 18px;
    font-weight: normal;
}

p{
    font-size: 1rem;
}


/*--------------------------------------------
    HELPER CLASSES
----------------------------------------------*/

.text-primary{
    color: #282626;

}

.text-theme-blue{
    color: #209fd9 !important;
}
.text-darker{
    color: #147ba7 !important;
}
.text-alert{
    color: #C72121;
}

.bg-theme-blue{
    background-color: #209fd9 !important;
    color: #fff;
}
.bg-darker{
    background-color: #209fd9;
    color: #fff;
}
.bg-alert{
    background-color: #C72121;
    color: #fff;
}
.bg-theme-gradient{
    background: linear-gradient(to bottom, #209fd9, #147ba7 );
    color: #fff;

}

.btn-theme-blue{
    background-color: #209fd9 !important;
    color: #fff;
}
.btn-theme-blue:hover{
    background-color: #147ba7 !important;
    color: #fff;
}

/*--------------------------------------------
    HEADER
----------------------------------------------*/

#header{
    margin: 0;
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    height: 100%;
}
.trans-box{
    background: rgba(32, 161, 217, 0.904);
    height: 100%; 
}

/*--------------------------------------------
    NAVBAR
----------------------------------------------*/
nav.main-nav{
    background: transparent;
}

/* .navbar-collapse.collapse-full{
    height: 100vh;
    font-size: 1.5rem;
} */
.main-nav ul li .nav-link{
    color: rgba(255, 255, 255, 0.788);
    font-size: 1rem;
}
.main-nav ul li .nav-link:hover{
    color: #fff;
}
.main-nav ul li .nav-link.sign-in{
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    transition: all .3s;
}
.main-nav ul li .nav-link.sign-in:hover{
    background: #fff;
    color: #209fd9;
}


.navbar-toggler:focus{
    outline: none !important;
}

/* SIGN IN / REGISTER STYLE */
.sign-in-up-tab{
    border: none;
}
.sign-in-up-tab li .nav-link{
    color: #282626;
    border: none;
    font-weight: normal;
}
.sign-in-up-tab li .nav-link.active{
    border-bottom: 2px solid #209fd9;
}


.sign-in-form form{
    width: 100%;
}
.sign-in-form form label{
    font-size: 1rem;
    padding-left: .8rem;
}
/* .sign-in-form input{
    color: #282626;
    border: 1px solid #292477;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sign-in-form input:focus{
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.199);
} */
.acct-type{
    padding: 2rem 0;
}
.acct-type .acct{
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    border: none;
    background: #929AAF;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
}   

.acct-type .acct:hover{
     background: #788096;
}

/*--------------------------------------------
    FORM
----------------------------------------------*/
.form-auth{
    margin: 4rem 0;
}
.form-default{
    border: 1px solid #302C2C;
    box-sizing: border-box;
    border-radius: 4px;
    color: #302C2C;
}

.form-default:focus{
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.199);
    outline: none;
    border: 1px solid #209fd9;
}



/*--------------------------------------------
    INTRO
----------------------------------------------*/

.intro {
   margin-top: 2rem;
}

.intro-text{
    text-align: center;
}
 .intro-text h1{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #fff

}

.intro .search-container, .search-container{
    position: relative;
}

.intro .search-area, .search-area{
    width: 90%;
    /* background-color: #fff; */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0;
}

.intro .search-box, .search-box{
    width: 85%;
    padding: .5rem  1rem;
    border-radius: 50px 0 0 50px;
    background-color: #fff;

    
}
.search-box input{
    border: 0;
    outline: none;
    width: 100%;
    color: #888;
    font-size: 1rem;
}

.search-box input:focus{
    outline: none;
}

.intro .search-icon, .search-icon{
    background-color: #147ba7;
  
    width: 15%;
    padding: .5rem;
    border-radius: 0 50px 50px 0;
    border: none;
    color: #fff;
    cursor: pointer;
}

#search-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20, 125, 167, 0.733);
    z-index: 100;
    height: 100vh;
    width: 100%;
}
.search-active{
    z-index: 200;
}
.search-active .search-area{
    margin-bottom: 2rem;
}
#search-result{
    position: relative;
    display: none;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background: #ffffff;
}
#search-result::before{
    content: "";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 20%;
    border-color:  transparent transparent #ffffff transparent;
    border-width: 20px;
    border-style: solid;
}

.search-container .search-close {
    position: absolute;
    top: -30%;
    left: 50%;
    z-index: 200;
   display: none;
   margin: 0 auto;
    /* transition: all .3s; */

}

.search-container .search-close .s-close{
     color: #ffffff ;
    font-size: 3rem;
    cursor: pointer;
}

.result-nav{
    margin-top: 1rem;   
    background: rgba(0, 0, 0, 0.05);
}
.result-nav .nav-tabs{
    border: none;
    
}

.result-nav .nav-tabs .nav-link{
    color: #282626;
    border: none;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0;
}

.result-body{
    padding: 2rem 1rem 3rem;
  
}

.result-body .d-r{
    display: flex;
}
.result-body .d-r, .result-row{
    padding: .8rem 1.2rem;
    margin-bottom: 1rem;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.result-body .img-side img{
    max-height: 80px;
}

.result-body .doc span.h2{
    font-size: 16px;
}
.result-body .doc span.occupation{
    font-size: 12px;
}

.result-body .tag a, .result-body .speciality a{
    color: #147ba7;
    font-weight: 700;
}


/*--------------------------------------------
    FOOTER
----------------------------------------------*/
.main-footer{
    padding: 4rem 1rem;
    font-size: 1rem;
    
}
.main-footer a, .main-footer a:hover{
    text-decoration: none;
}
.main-footer a:hover{
    display: inline-block;
    border-bottom: 1px solid #209fd9;
    color: #209fd9;
}

/*--------------------------------------------
    PAGE CONTENT
----------------------------------------------*/

.page-content{
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
}

.page-content-intro{
   padding: .5rem;
}

.page-content-body{
   padding: 0;
}

/* main page options section */

.page-dos{
    
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding:    2rem 1rem;
    color: #282626;

}

.page-dos-head{
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.dos-icon{
    color: #209fd9;
    margin-bottom: 1rem;
    
}
 .dos-icon img{
    height: 100px;
}
.page-dos-body{
    text-align: justify;
    font-size: 1rem;
    padding: 2rem;
}


/* doc-ratings */



.doc-ratings .d-r{
    padding: .8rem 1.2rem;
    display: flex;
}

.img-side img{
    max-height: 120px;
}

.info-side{
    width: 100%;
    margin-left: 1rem;
}

.info-side .doc{
    width: 100%;
}
.info-side .ratings{
    display: block;
    margin-top: 1rem;
}

.doc span.h2{
    font-size: 24px;
}
.doc span.occupation{
    font-size: 24px;
}


/* About section style */
.abt{
    font-size: 1.2rem;    
    width: 100%;
    margin: 1rem auto;

}
.about-quote{
    padding: 5rem 0;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.quote-author{
    position: absolute;
    bottom: 30px;
    right: 18%;
}
.about-quote::before, .about-quote::after{
    content: ' " ';
    position: absolute;
    font-size: 6rem;
    color: #fff;
}
.about-quote::before{
    top: 9px;
    left: 20px;
}
.about-quote::after{
    bottom: -31px;
    right: 5px;
}

.quote-author .author{
    position: relative;
}
.quote-author .author .line{
    position: absolute;
    height: 1px;
    width: 80px;
    top: 16px;
    right: 105%;
    background: #fff;
}


/* Guaranty section style */

.guaranty-msg{
    text-align: justify;
    height: 100%;
    font-size: 1.2rem;
}

.g-img{
    text-align: center;
}

.g-img svg{
    width: calc(349px - 100px);
    height: calc(312px - 100px);
}


/*--------------------------------------------
    DOCTORS FORM
----------------------------------------------*/

#doc-form{
    width: 100%;
    margin-bottom: 3rem;
}

.df-container{
    position: relative;
    background-color: #fff;
    color: #282626;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.199);
}

.form-section{
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    padding: 1rem;
}
.form-section input, .form-section select{
    border: 1px solid #302C2C;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-section input:focus, .form-section select:focus{
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.199);
}

.fs-body{
    position: relative;
}
.fs-title {
    position: relative;
    padding: .5rem 0;
    font-weight: 700;
}
.fs-title span{
    font-weight: 700;
}

.fs-icon{
    position: absolute;
    top: 0;
    left: -20%;
}
.fs-icon svg{
    width: 40px;
    height: 40px;
}


/*--------------------------------------------
    MEDIA QUERIES
----------------------------------------------*/


@media (min-width: 576px) {

   

    .intro .search-area{
          margin-top: 4rem;
        
    }
    .intro .search-box{
        width: 90%;
        padding:.8rem  2rem;
        
    }
    .intro .search-icon{
       
        width: 10%;
        padding: .8rem;
        
    }
   
    .intro-text h1{
        font-size: 30px;
    }

   
    .page-content-intro{
        padding: 2rem;
    }
    .page-content-intro h1{
        font-size: 2rem;
    }
    .page-content{
        padding: 3rem;
    }
    .page-dos{
        padding: 4rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .doc-ratings .d-r{
        padding:2rem 3rem;
    }

    .doc h2{
        font-size: 32px;
    }
    .guaranty-msg{
        font-size: 1.5rem;
    }
    .g-img svg{
        width: 349px;
        height: 312px;
    }
    .about-quote::before{
        top: 26px;
        left: -25px;
    }
    .about-quote::after{
        bottom: -25px;
        right: -14px;
    }
    .fs-icon{
        left: -10%;
    }
 }


@media (min-width: 768px) {
    #header{
        height: 80vh;
    }
    .intro {
        margin-top: 4rem;
    }

    .intro-text h1{
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 36px;

    }
    .intro .search-area{
        width: 70%;
    }
    .pc-home{
        height: 70vh;
    }
    .opt{
        position: absolute;
        top: -25%;
        left:0;
        padding: 2rem 5rem;
    }
     .dos-icon img{
        height: 100%;
    }
    .page-dos-head{
        font-size: 2rem;
    }
    .page-dos-body{
        text-align: justify;
        font-size: 1.5rem;
        padding: 2rem;
    }
    .guaranty-msg{
        text-align: left;
        font-size: 28px;
    }

    

    .g-img svg{
        width: 349px;
        height: 312px;
    }
    .about-quote::before{
        top: 23px;
        left: -35px; 
    }
    .about-quote::after{
        bottom: -1px;
        right: -28px;
    }
    .abt{
        font-size: 24px;    
    }
    .sign-in-form form label{
        font-size: 18px;
    }
    .df-container{
        padding: 2rem 3.5rem;
    }
    .search-container .search-close .s-close{
        font-size: 3rem;
      
    }
 }


@media (min-width: 992px) { 
    .info-side{
        width: 100%;
        display: flex;
        align-self: center;
        margin-left: 1rem;
    }
    .result-body .info-side .doc{
        width: 75%;
    }
    .info-side .doc{
        width: 85%;
    }
    .result-body .info-side .ratings{
        display: block;
        margin-top: 1rem;
        width: 25%;
    }
    .info-side .ratings{
        display: block;
        margin-top: 1rem;
        width: 15%;
    }
    .about-quote::before{
        top: 15px;
        left: -10px; 
    }
    .about-quote::after{
        bottom: -5px;
        right: -6px;
    }
    .g-img{
        text-align: right;
    }

    .sign-in-form form{
        width: 80%;
    }

    .sign-in-form form label{
        font-size: 20px;
    }
     .df-container{
        padding: 2rem 4rem;
    }
 }


@media (min-width: 1200px) { 
     .main-nav ul li .nav-link {
        margin-right: 2rem;
    }

    .abt{
        font-size: 24px;    
        width: 80%;
        margin: 1rem auto;

    }
    .about-quote::before{
        top: 20px;
        left: 20px; 
    }
    .about-quote::after{
        bottom: -20px;
        right: 20px; 
    }
    .fs-icon{
        position: absolute;
        top: 0;
        left: -5%;
    }
    
 }
